.container {
  height: 80px;
  background-color: var(--texto-footer-color);
  color: var(--main-tx-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 100px;
  position: relative;
  overflow: hidden;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title {
  font-size: 30px;
}

.listItem {
  display: inline;
  margin-right: 30px;
  font-size: 14px;
  /* font-weight: 300; */
  color: var(--main-tx-color);
  cursor: pointer;
}
.listItem:hover {
  color:rgb(11, 147, 25);
  text-decoration: underline;
}

.callButton {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: auto;
  height: auto;
  align-items: center;
  font-size: 30px;
  background-color: rgb(117, 245, 215);
  border-radius: 50%;
}

.hamburger {
  display: none;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
}

.menu {
  display: none;
  position: fixed;
  width: 50vw;
  height: calc(100vh - 50px);
  background-color: var(--fondo-footer-color);
  top: 50px;
  /* right: 0px; */
  z-index: 9999;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: var(--texto-footer-color);
  list-style: none;
  transition: all 1s ease;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0px 20px;
  }

  .listItem {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .callButton {
    padding: 10px;
    font-size: 25px;
  }
}
